@font-face {
font-family: "Komika";
src: url("font/KOMIKAH_.woff");
}

*{
    margin: 0;
    padding: 0;
}

body{
   background-image: url(img/background.jpg);
   background-size: 75%;
   font-family: "Komika";
   display: flex;
   height: 100vh;
}

img{
    width: 100%;
}

main{ 
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
   }

.wonderclick {
    display: flex; flex-direction: column;
    width: 550px;
    align-items: center;
} 

ul {
    -webkit-columns: 200px 2;
    -moz-columns: 200px 2;
    columns: 200px 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;    
}

ul li{
    color: #f2d450;
    font-size: 24px;      
}

button{
    font-family:"Komika";
    background-color: rgba(8, 118, 182, 0.966);
    margin-top: 40px;
    color: #f2d450;
    width: 300px; 
    height: 70px;
    font-size:24px;
    border-radius: 20px;
    border-style: none;
    border:  6px solid;
    border-color: #f2d450;
}

.wonderwoman-img img{
    max-height:95vh;
    border: #f2d450 solid 8px;
    border-radius: 1%;
}